{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <main class="container">
        <form action="" method="post">
            <h2>Welcome to our password generator site!!!</h2>
            {% csrf_token %}
            <input placeholder="Your password length" type="number" name="password_length" min="4" max="64" value="8" required>
            <button id="btn_generate" type="submit" class="btn">Generate</button>          
        </form>
        
        <div class="result">
            <h2>Your password result: </h2>
            {% if password %}
                <input type="text" value="{{password}}" id="password">
                <button id="btn_copy" class="btn">Copy</button>
            {% endif %}
        </div>
    </main>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>